body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.foodcard{
  width: 20rem;
  height: 10rem;
  box-shadow: 4px 4px 8px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
}